{% load static %}

<div class="row">
    <div class="col-md-6">
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
            {% csrf_token %}
            <h5>Write Your Review</h5>
            <div>
                <!-- Rating stars -->
                <label for="">How do you rate this product?</label>
                <br>
                <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required/> <label
                        for="rating10" title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required/> <label
                        for="rating9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required/> <label for="rating8"
                                                                                               title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required/> <label
                        for="rating7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required/> <label for="rating6"
                                                                                               title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required/> <label
                        for="rating5" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required/> <label for="rating4"
                                                                                               title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required/> <label
                        for="rating3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required/> <label for="rating2"
                                                                                               title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required/> <label
                        for="rating1" title="0.5" class="half"></label>
                </div>
                <br>
                Review Title:
                <input type="text" class="form-control" name="subject"/>
                <br>
                Review:
                <textarea name="review" rows="4" class="form-control"></textarea>
                <br>
                {% if user.is_authenticated %}
                {% if orderproduct %}
                <input type="submit" value="Submit Review" class="btn btn-primary"/>
                {% else %}
                <p>You must be purchase this product post a review.</p>
                {% endif %}
                {% else %}
                <p>You must be logged in to post a review.<span><a
                        href="{% url 'login' %}"> Login now</a></span></p>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="col-md-6">

        <h5>Customer Reviews </h5>
        <div class="rating-star">
                <span>
                    <i class="fa fa-star{% if single_product.average_rating < 0.5 %}-o{% elif single_product.average_rating >= 0.5 and single_product.average_rating < 1 %}-half-o {% endif %}"
                       aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.average_rating < 1.5 %}-o{% elif single_product.average_rating >= 1.5 and single_product.average_rating < 2 %}-half-o {% endif %}"
                       aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.average_rating < 2.5 %}-o{% elif single_product.average_rating >= 2.5 and single_product.average_rating < 3 %}-half-o {% endif %}"
                       aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.average_rating < 3.5 %}-o{% elif single_product.average_rating >= 3.5 and single_product.average_rating < 4 %}-half-o {% endif %}"
                       aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.average_rating < 4.5 %}-o{% elif single_product.average_rating >= 4.5 and single_product.average_rating < 5 %}-half-o {% endif %}"
                       aria-hidden="true"></i>
                    <span>{{ reviews_count }} reviews</span>
                </span>
        </div>
        {% for review in reviews %}
        <article class="box mt-3">
            <div class="icontext w-100">
                <img src="{{review.user.profile_picture.url}}"
                     class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">{{ review.updated_at }} </span>
                    <h6 class="mb-1">{{ review.user.full_name }} </h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                               aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                               aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <h6>{{ review.subject }}</h6>
                <p>
                    {{ review.review }}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</div> <!-- row.// -->