asgiref==3.4.1
backports.zoneinfo==0.2.1
certifi==2021.5.30
charset-normalizer==2.0.6
Django==3.2.7
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-betterforms==1.2
django-ckeditor==5.9.0
django-countries==7.2.1
django-filter==21.1
django-jet==1.0.8
django-js-asset==2.0.0
django-mptt==0.13.4
django-session-timeout==0.1.0
djangorestframework==3.12.4
idna==3.2
Pillow==8.3.2
psycopg2==2.8.5
python-decouple==3.5
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
