{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h2 class="card-title mb-4 text-center">Contraseña olvidada</h2>
            <form action="{% url 'forgotPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Dirección de correo electrónico" name="email">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a href="{% url 'login' %}" class="float-right">¿Tiene contraseña? Regístrese</a>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Enviar</button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">¿No tiene una cuenta? <a href="{% url 'register' %}">Crear cuenta</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}