{% extends 'base.html' %}

{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

          <div class="card-body">
          <h2 class="card-title mb-4 text-center">Resetear contraseña</h2>

          <form action="{% url 'resetPassword' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                 <input type="password" class="form-control" placeholder="Crear Contraseña" name="password" >
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="confirm_password" >
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Resetear  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">¿No tiene una cuenta? <a href="{% url 'register' %}">Crear cuenta</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}