{% extends 'base.html' %}

{% block content %}
<main class="container my-4">
    <h2 class="my-4 border-bottom pb-1">Update Address</h2>
    <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Update your Address</strong>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="container">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Street Address</label>
                                        {{ form.street_address }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Aparment Address</label>
                                        {{ form.apartment_address }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>City</label>
                                        {{ form.city }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>State</label>
                                        {{ form.state }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Country</label>
                                        {{ form.country }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Zip Code</label>
                                        {{ form.zip }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Phone Number</label>
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Address Note</label>
                                        {{ form.note_address }}
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                                        <label class="form-check-label padding-15px-left">
                                            {{form.status}}<strong>Activated this address?</strong>
                                        </label>
                                    </div>
                                </fieldset>
                                <input type="submit" value="save" class="btn btn-primary">
                                <a class="btn btn-primary" href="{% url 'my_addressbook'%}">Cancel</a>
                            </form>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </article> <!-- order-group.// -->
        </main>
    </div>
</main>
{% endblock %}