{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="section-content padding-y bg ">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        {% if not cart_items %}
        <h2 class="text-center">Your Shopping Cart is Empty</h2>
        <br>
        <div class='text-center'>
            <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
        {% else %}
        <div class="row ">
            <aside class="col-lg-9">
                <div class="card table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase text-center">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" width="200"><i class="fa fa-trash"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.product_image.url }}"
                                                            class="img-sm"></div>
                                    <figcaption class="info">
                                        <div class="name" style="font-size: 0">{{ cart_item.product.name }}</div>
                                        <a href="{{ cart_item.product.get_url }}"
                                           class="title text-dark">{{ cart_item.product.name }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                            {{ item.variation_category | capfirst }} :
                                            {{ item.variation_value | capfirst }} <br>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <!-- col.// -->
                                <div class="col">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                                               class="btn btn-light" type="button" id="button-plus"> <i
                                                    class="fa fa-minus"></i></a>
                                        </div>
                                        <input type="text" class="form-control" readonly="readonly"
                                               value="{{ cart_item.quantity }}">
                                        <div class="input-group-append">
                                            <form action="{% url 'add_cart' cart_item.product.id %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                {% for item in cart_item.variations.all %}
                                                <input type="hidden"
                                                       name="{{ item.variation_category | lower }}"
                                                       value="{{ item.variation_value | capfirst }}">
                                                {% endfor %}
                                                <button class="btn btn-light" type="submit"
                                                        id="button-minus"><i class="fa fa-plus"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div> <!-- col.// -->
                            </td>
                            <td class="text-center">
                                <div class="price-wrap">
                                    <var class="price">${{ cart_item.sub_total }}</var>
                                    <small class="text-muted">{% if cart_item.product.discount_price %} $
                                        {{ cart_item.product.discount_price }} each
                                        <del class="product-old-price">
                                            ${{ cart_item.product.price }}
                                        </del>
                                        {% else %}$
                                        {{ cart_item.product.price }}each{% endif %}</small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-center">
                                <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-outline-danger"> Remove</a>
<!--                                <div class="url"-->
<!--                                     style="font-size: 0">{% url 'remove_cart_item' cart_item.product.id cart_item.id %}-->
<!--                                </div>-->
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static 'img/payment/payment-1.png' %}" height="26">
                            <img src="{% static 'img/payment/payment-2.png' %}" height="26">
                            <img src="{% static 'img/payment/payment-3.png' %}" height="26">
                            <img src="{% static 'img/payment/payment-4.png' %}" height="26">
                            <img src="{% static 'img/payment/payment-5.png' %}" height="26">
                        </p>
                        <a href="{% url 'checkout' %}"
                           class="btn btn-block btn btn-outline-primary"> Checkout </a>
                        <a href="{% url 'store' %}"
                           class="btn btn btn-outline-primary btn-block">Continue Shopping</a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        {% endif %}
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}