{% load static %}
{% load mptt_tags %}
<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Cerrar el menú</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu">
            <a href="{% url 'home' %}">Inicio
                {#                <i class="anm anm-plus-l"></i>#}
            </a>
{#            <ul>#}
{#                <li><a href="#" class="site-nav">Home Group 1<i class="anm anm-plus-l"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="index.html" class="site-nav">Home 1 - Classic</a></li>#}
{#                        <li><a href="home2-default.html" class="site-nav">Home 2 - Default</a></li>#}
{#                        <li><a href="home15-funiture.html" class="site-nav">Home 15 - Furniture </a></li>#}
{#                        <li><a href="home3-boxed.html" class="site-nav">Home 3 - Boxed</a></li>#}
{#                        <li><a href="home4-fullwidth.html" class="site-nav">Home 4 - Fullwidth</a></li>#}
{#                        <li><a href="home5-cosmetic.html" class="site-nav">Home 5 - Cosmetic</a></li>#}
{#                        <li><a href="home6-modern.html" class="site-nav">Home 6 - Modern</a></li>#}
{#                        <li><a href="home7-shoes.html" class="site-nav last">Home 7 - Shoes</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#" class="site-nav">Home Group 2</a>#}
{#                    <ul>#}
{#                        <li><a href="home8-jewellery.html" class="site-nav">Home 8 - Jewellery</a></li>#}
{#                        <li><a href="home9-parallax.html" class="site-nav">Home 9 - Parallax</a></li>#}
{#                        <li><a href="home10-minimal.html" class="site-nav">Home 10 - Minimal</a></li>#}
{#                        <li><a href="home11-grid.html" class="site-nav">Home 11 - Grid</a></li>#}
{#                        <li><a href="home12-category.html" class="site-nav">Home 12 - Category</a></li>#}
{#                        <li><a href="home13-auto-parts.html" class="site-nav">Home 13 - Auto Parts</a></li>#}
{#                        <li><a href="home14-bags.html" class="site-nav last">Home 14 - Bags</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#" class="site-nav">New Sections<i class="anm anm-plus-l"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="home11-grid.html" class="site-nav">Image Gallery</a></li>#}
{#                        <li><a href="home5-cosmetic.html" class="site-nav">Featured Product</a></li>#}
{#                        <li><a href="home7-shoes.html" class="site-nav">Columns with Items</a></li>#}
{#                        <li><a href="home6-modern.html" class="site-nav">Text columns with images</a></li>#}
{#                        <li><a href="home2-default.html" class="site-nav">Products Carousel</a></li>#}
{#                        <li><a href="home9-parallax.html" class="site-nav last">Parallax Banner</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#" class="site-nav">New Features<i class="anm anm-plus-l"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="home13-auto-parts.html" class="site-nav">Top Information Bar </a></li>#}
{#                        <li><a href="#" class="site-nav">Age Varification </a></li>#}
{#                        <li><a href="#" class="site-nav">Footer Blocks</a></li>#}
{#                        <li><a href="#" class="site-nav">2 New Megamenu style</a></li>#}
{#                        <li><a href="#" class="site-nav">Show Total Savings </a></li>#}
{#                        <li><a href="#" class="site-nav">New Custom Icons</a></li>#}
{#                        <li><a href="#" class="site-nav last">Auto Currency</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
        </li>
        <li class="lvl1 parent megamenu"><a href="{% url 'store' %}">Toda la tienda</a>
{#            <ul>#}
{#                <li><a href="#" class="site-nav">Shop Pages<i class="anm anm-plus-l"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="shop-left-sidebar.html" class="site-nav">Left Sidebar</a></li>#}
{#                        <li><a href="shop-right-sidebar.html" class="site-nav">Right Sidebar</a></li>#}
{#                        <li><a href="shop-fullwidth.html" class="site-nav">Fullwidth</a></li>#}
{#                        <li><a href="shop-grid-3.html" class="site-nav">3 items per row</a></li>#}
{#                        <li><a href="shop-grid-4.html" class="site-nav">4 items per row</a></li>#}
{#                        <li><a href="shop-grid-5.html" class="site-nav">5 items per row</a></li>#}
{#                        <li><a href="shop-grid-6.html" class="site-nav">6 items per row</a></li>#}
{#                        <li><a href="shop-grid-7.html" class="site-nav">7 items per row</a></li>#}
{#                        <li><a href="shop-listview.html" class="site-nav last">Product Listview</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#" class="site-nav">Shop Features<i class="anm anm-plus-l"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="shop-left-sidebar.html" class="site-nav">Product Countdown </a></li>#}
{#                        <li><a href="shop-right-sidebar.html" class="site-nav">Infinite Scrolling</a></li>#}
{#                        <li><a href="shop-grid-3.html" class="site-nav">Pagination - Classic</a></li>#}
{#                        <li><a href="shop-grid-6.html" class="site-nav">Pagination - Load More</a></li>#}
{#                        <li><a href="product-labels.html" class="site-nav">Dynamic Product Labels</a></li>#}
{#                        <li><a href="product-swatches-style.html" class="site-nav">Product Swatches </a></li>#}
{#                        <li><a href="product-hover-info.html" class="site-nav">Product Hover Info</a></li>#}
{#                        <li><a href="shop-grid-3.html" class="site-nav">Product Reviews</a></li>#}
{#                        <li><a href="shop-left-sidebar.html" class="site-nav last">Discount Label </a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
        </li>
        <li class="lvl1 parent megamenu"><a href="product-layout-1.html">Tiendas <i class="anm anm-plus-l"></i></a>
            <ul class="dropdown">
                {% for brand in brand_links %}
                    <li><a href="{{ brand.get_url }}" class="site-nav">{{ brand.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="about-us.html">Categorías <i class="anm anm-plus-l"></i></a>
            <ul class="dropdown">
                                {% recursetree category_tree %}
                                {% if not node.is_leaf_node %}
                                <li>
                                  <a class="site-nav">{{ node.name }} <i class="anm anm-angle-right-l"></i></a>
                                  <ul class="dropdown">
                                      <li>{{ children }}</li>
                                  </ul>
                                </li>
                                {% else %}
                                <li><a href="{{ node.get_url }}" class="site-nav">{{ node.name }}</a></li>
                                {% endif %}
                                {% endrecursetree %}
                                <li><a href="about-us.html" class="site-nav">Acerca de <span
                                        class="lbl nm_label1">Nuevo</span> </a></li>
                            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="blog-left-sidebar.html">Blog <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
                <li><a href="blog-grid-view.html" class="site-nav">Gridview</a></li>
                <li><a href="blog-article.html" class="site-nav">Article</a></li>
            </ul>
    </ul>
</div>
<!--End Mobile Menu-->