{% load static %}
{% load mptt_tags %}
<!--Top Header-->
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                <p class="phone-no"><i class="anm anm-phone-s"></i> +53 42 22-5034</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                <div class="text-center"><p class="top-header_middle-text"> De To' Shop</p></div>
            </div>
            <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                <ul class="customer-links list-inline">
                    {% if user.id is None %}
                    <li><a href="{% url 'login' %}">Registrarse</a></li>
                    <li><a href="{% url 'register' %}">Crear Cuenta</a></li>
                    {% else %}
                    <div class="language-dropdown">
                        {% if user.profile_picture%}
                            <img class="mr-2" src="{{ user.profile_picture.url }}" style="height: 20px; border-radius: 50%">
                        {% else %}
                            <img class="mr-2" src="{% static 'img/profile/index.png' %}" style="height: 20px; border-radius: 50%">
                        {% endif %}
                        <span class="language-dd">Mi Cuenta</span>
                        <ul id="language" class="text-left">
                            <li><a href="{% url 'dashboard' %}">Mi Cuenta</a></li>
                            <li><a href="{% url 'my_orders' %}">Mis órdenes</a></li>
                            <li><a href="{% url 'my_wishlist' %}">Mi lista de deseos</a></li>
                            {% comment %} <li><a href="{% url 'compare' %}">Comparar</a></li> {% endcomment %}
                            <li><a href="{% url 'my_reviews' %}">Mis comentarios</a></li>
                            <li><a href="{% url 'edit_profile' %}">Editar perfil</a></li>
                            <li><a href="{% url 'my_addressbook' %}">Direcciones y teléfono</a></li>
                            <li><a href="{% url 'change_password' %}">Cambiar contraseña</a></li>
                            <li><a href="{% url 'register' %}">Crear una cuenta</a></li>
                            <li><a href="{% url 'logout' %}">Salir</a></li>
                        </ul>
                        <a href="{% url 'logout' %}" class="text-uppercase">Salir</a>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End Top Header-->

<!--Header-->
<div class="header-wrap {% if title == 'home' %} classicHeader {% endif %} animated d-flex">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!--Desktop Logo-->
            <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo/deto-logo.jpg' %}" alt="DeTo Shop"
                         title="DeTo Shop" width="50"/>
                </a>
            </div>
            <!--End Desktop Logo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                <div class="d-block d-lg-none">
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                </div>
                <!--Desktop Menu-->
                <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                    <ul id="siteNav" class="site-nav medium center hidearrow">
                        <li class="lvl1"><a href="{% url 'home' %}"><b>Inicio</b></a>
                        </li>
                        <li class="lvl1"><a href="{% url 'store' %}"><b>Toda la tienda</b></a>
                        </li>
                        <li class="lvl1 parent dropdown"><a href="#"><b>Tiendas</b><i class="anm anm-angle-down-l"></i></a>
                            <ul class="dropdown">
                                {% for brand in brand_links %}
                                <li><a href="{{ brand.get_url }}" class="site-nav">{{ brand.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="lvl1 parent dropdown"><a href="#"><b>Categorías</b><i class="anm anm-angle-down-l"></i></a>
                            <ul class="dropdown">
                                {% recursetree category_tree %}
                                {% if not node.is_leaf_node %}
                                <li>
                                  <a class="site-nav">{{ node.name }} <i class="anm anm-angle-right-l"></i></a>
                                  <ul class="dropdown">
                                      <li>{{ children }}</li>
                                  </ul>
                                </li>
                                {% else %}
                                <li><a href="{{ node.get_url }}" class="site-nav">{{ node.name }}</a></li>
                                {% endif %}
                                {% endrecursetree %}
                                <li><a href="about-us.html" class="site-nav">Acerca de <span
                                        class="lbl nm_label1">Nuevo</span> </a></li>
                            </ul>
                        </li>
                        <li class="lvl1"><a href="{% url 'contact_me' %}"><b>Contactar</b></a>
                        </li>
{#                        <li class="lvl1"><a href="{% url 'blog' %}"><b>Blog</b></a>#}
{#                        </li>#}
                        <li class="lvl1"><a href="{% url 'about_us' %}"><b>Acerca de</b></a>
                        </li>
                    </ul>
                </nav>
                <!--End Desktop Menu-->
            </div>
            <!--Mobile Logo-->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="assets/images/logo.svg" alt="DeTo Shop"
                             title="DeTo Shop | Inicio"/>
                    </a>
                </div>
            </div>
            <!--Mobile Logo-->
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                <div class="site-cart">
                    <a href="#;" class="site-header__cart" title="Cart">
                        <i class="icon anm anm-bag-l"></i>
                        <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ cart_count }}</span>
                    </a>
                    <!--Minicart Popup-->
                    <div id="header-cart" class="block block-cart">
                        <ul class="mini-products-list">
                            {% if cart_items %}
                            {% for item in cart_items %}
                            <li class="item">
                                <a class="product-image" href="{{item.variations.get_url}}">
                                    <img src="{{item.variations.image_first}}"
                                         alt="{{item.product.name}}" title=""/>
                                </a>
                                <div class="product-details">
                                    <a href="#" class="remove remove_product" product_id={{item.id}} product_url={% url 'remove_cart' item.id %}><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                    <a class="pName" href="{{item.variations.get_url}}">{{item.product.name}}</a>
                                    <div class="variant-cart">{{item.variations.color.name}} / {{item.variations.size.code}}</div>
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <span class="label">Qty: {{item.quantity}}</span>
                                        </div>
                                    </div>
                                    <div class="priceRow">
                                        <div class="product-price">
                                            {% if item.variations.discount_price %}
                                                <span class="money">${{item.variations.discount_price}}</span>
                                            {% else %}
                                                <span class="money">${{item.variations.price}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="total-in text-center">
                                <img src="{% static 'img/logo/cart-empty.png' %}" alt="Empty Cart Picture"
                                 width="50" height="50"><br>
                                <span class="label"><b>No hay productos en su carrito</b></span><br>
                                <span class="label">Por favor, vaya a la tienda y añada algunos productos</span>
                            </div>
                            <hr>
                            {% endif %}
                        </ul>
                        <div class="total">
                            {% if cart_items %}
                            <div class="total-in">
                                <span class="label">Cart Subtotal:</span><span class="product-price"><span
                                    class="money">${{total_paid}}</span></span>
                            </div>
                            <div class="buttonSet text-center">
                                <a href="{% url 'cart' %}" class="btn btn-secondary btn--small">View Cart</a>
                                <a href="{% url 'checkout' %}" class="btn btn-secondary btn--small">Checkout</a>
                            </div>
                            {% else %}
                            <div class="buttonSet text-center">
                                <a href="{% url 'store' %}" class="btn btn-secondary btn--small">Go to Store</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--EndMinicart Popup-->
                </div>
                <div class="site-header__search">
                    <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header-->
{% include 'includes/header-mobile.html' %}
