{% load static %}
<!-- Newsletter Popup -->
<div class="newsletter-wrap" id="popup-container">
  <div id="popup-window">
    <a class="btn closepopup"><i class="icon icon anm anm-times-l"></i></a>
    <!-- Modal content-->
    <div class="display-table splash-bg">
      <div class="display-table-cell width40"><img src="{% static 'images/newsletter-img.jpg' %}" alt="Unase a nuestra lista de correo" title="Join Our Mailing List" /> </div>
      <div class="display-table-cell width60 text-center">
        <div class="newsletter-left">
          <h2>Unase a nuestra lista de correo</h2>
          <p>Suscríbase a nuestra exclusiva lista de correo y sea el primero en saber de nuestros nuevos productos y nuestras ofertas especiales</p>
          <form action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="email" class="input-group__field newsletter__input" name="email" value="" placeholder="Dirección de correo electrónico" required="">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="subscribeBtn"> <span class="newsletter__submit-text--large">Suscribirse</span> </button>
                  </span>
              </div>
          </form>
          <ul class="list--inline site-footer__social-icons social-icons">
            <li><a class="social-icons__link" href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a class="social-icons__link" href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a class="social-icons__link" href="#" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a class="social-icons__link" href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a class="social-icons__link" href="#" title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a class="social-icons__link" href="#" title="Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Newsletter Popup -->