{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page section-header text-center mb-4">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Blog</h1></div>
      </div>
</div>
<div class="container">
    <div class="row">
        <!--Sidebar-->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
            <div class="sidebar_tags">
                <div class="sidebar_widget categories">
                    <div class="widget-title"><h2>Brand</h2></div>
                    <div class="widget-content">
                        <ul class="sidebar_categories">
                            <li class="lvl-1 "><a href="http://annimexweb.com/" class="site-nav lvl-1">Beauty</a></li>
                            <li class="lvl-1  active"><a href="#" class="site-nav lvl-1">fashion</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">summer</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">trend</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">winter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <div class="widget-title"><h2>Recent Posts</h2></div>
                    <div class="widget-content">
                        <div class="list list-sidebar-products">
                          <div class="grid">
                            {% for item in recent_blogs%}
                            <div class="grid__item">
                              <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="{{item.get_url}}"><img class="grid-view-item__image blur-up lazyload" data-src="{{item.image.url}}" src="{{item.image.url}}" alt="" /></a> </div>
                                <div class="details"> <a class="grid-view-item__title" href="{{item.get_url}}">{{item.title}}</a>
                                  <div class="grid-view-item__meta"><span class="article__date"> <time datetime="{{item.updated_at}}">{{item.brand.title}}</time> </span></div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sidebar-->
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
            <div class="custom-search">
                <form action="http://annimexweb.com/search" method="get" class="input-group search-header search" role="search" style="position: relative;">
                    <input class="search-header__input search__input input-group__field" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
                    <span class="input-group__btn"><button class="btnSearch" type="submit"> <i class="icon anm anm-search-l"></i> </button></span>
                </form>
            </div>
            <div class="blog--list-view">
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 article"> 
                        <!-- Article Image --> 
                         <a class="article_featured-image" href="#"><img class="blur-up lazyload" data-src="{{blog.image.url}}" src="{{blog.image.url}}" alt="{{blog.title}}"></a> 
                        <h2 class="h3"><a href="{% url 'blog_article' blog.slug %}">{{blog.title}}</a></h2>
                        <ul class="publish-detail">                      
                            <li><i class="anm anm-user-al" aria-hidden="true"></i>  {{blog.brand.title}}</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="{{blog.updated_at}}">{{blog.updated_at}}</time></li>
                        </ul>
                        <p><a href="{% url 'blog_article' blog.slug %}" class="btn btn-secondary btn--small">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>
                    {% endfor %}
                </div>
                <hr/>
                <div class="pagination">
                    <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="next"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
</div>
{% endblock %}
