{% load mptt_tags %}
<!--Collection Box slider-->
<div class="collection-box section">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2 class="h2">Our Categories</h2>
            <p>Browse the huge variety of our products</p>
        </div>
        <div class="collection-grid">
            {% recursetree category_tree %}
            <div class="collection-grid-item">
                <a href="{{ node.get_url }}" class="collection-grid-item__link">
                    <img data-src="{{ node.image.url }}" src="{{ node.image.url }}" alt="{{ node.name }}" class="blur-up lazyload"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">{{ node.name }}</h3>
                    </div>
                </a>
            </div>
            {% endrecursetree %}
        </div>
    </div>
</div>
<!--End Collection Box slider-->
