<!--Collection Tab slider-->
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Nuestros productos</h2>
                    <p>Explore nuestra gran variedad de artículos</p>
                </div>
                <div class="tabs-listing">
                    <div class="tab_container">
                        <div id="tab1" class="tab_content grid-products">
                            <div class="productSlider">
                                {% for product in products %}
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="{{ product.get_url }}">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="{{product.get_variation.image_first}}"
                                                 src="{{product.get_variation.image_first}}" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="{{product.get_variation.image_last}}" src="{{product.get_variation.image_last}}" alt="image"
                                                 title="product">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular">
                                                {% if product.get_variation.discount_percentage %}
                                                    <span class="lbl on-sale">-{{product.get_variation.discount_percentage}}%</span> 
                                                {% endif %}    
                                                {% if product.get_variation.label == 'new' %}
                                                    <span class="lbl pr-label1">{{product.get_variation.get_label_display}}</span>
                                                {% elif product.get_variation.label == 'sale' %}
                                                    <span class="lbl pr-label2">{{product.get_variation.get_label_display}}</span>
                                                {% elif product.get_variation.label == 'hot' %}
                                                    <span class="lbl pr-label3">{{product.get_variation.get_label_display}}</span>
                                                {% endif %}                                 
                                            </div>
                                            <!-- End product label -->
                                        </a>
                                        <!-- end product image -->

                                        <!-- Start product button -->
                                        <div class="variants add">
                                            <a href="{{ product.get_url }}" class="btn btn-addto-cart" type="button" tabindex="0">Ver detalles</a>
                                        </div>

                                        <div class="button-set">
                                            {% comment %} <a href="javascript:void(0)" title="Quick View"
                                               class="quick-view-popup quick-view" data-toggle="modal"
                                               data-target="#content_{{product.slug}}">
                                                <i class="icon anm anm-search-plus-r"></i>
                                            </a> {% endcomment %}
                                            {% if user.is_authenticated %}
                                            {% if product.is_in_wishlist %}
                                            <div class="wishlist-btn mt-1">
                                                <a name="wishlistElements" class="wishlist add-to-wishlist" data-product="{{ product.id }}" href="#">
                                                    <i class="icon anm anm-heart"></i>
                                                </a>
                                            </div>
                                            {% else %}
                                            <div class="wishlist-btn mt-1">
                                                <a name="wishlistElements" class="wishlist add-to-wishlist" data-product="{{ product.id }}" href="#">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                            {% endif %}
                                            {% comment %} <div class="compare-btn">
                                                <a class="compare add-to-compare" data-product="{{ product.id }}" href="#">
                                                    <i class="icon anm anm-random-r"></i>
                                                </a>
                                            </div> {% endcomment %}
                                            {% endif %}
                                        </div>
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="{{product.get_url}}">{{product.name}}</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            {% if product.get_variation.discount_price %}
                                                <span class="old-price">${{product.get_variation.price}}</span>
                                                <span class="price">${{product.get_variation.discount_price}}</span>
                                            {% else %}
                                                <span class="price">${{product.get_variation.price}}</span>
                                            {% endif %}
                                        </div>
                                        <!-- End product price -->

                                        <div class="product-review">
                                            <span>
                                                <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif product.average_rating >= 0.5 and product.average_rating < 1 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                 <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif product.average_rating >= 1.5 and product.average_rating < 2 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                 <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif product.average_rating >= 2.5 and product.average_rating < 3 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                 <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif product.average_rating >= 3.5 and product.average_rating < 4 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                                 <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif product.average_rating >= 4.5 and product.average_rating < 5 %}-half-o {% endif %}"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        
                                        <!-- Variant -->
                                        <ul class="swatches">
                                            {% for image in product.get_product_color %}
                                            <li class="swatch medium rounded"><a href={{image.get_url}}><img
                                                    src="{{image.image_first}}" alt="image"/></a></li>
                                            {% endfor %}
                                        </ul>
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Collection Tab slider-->