<!--Latest Blog-->
<div class="latest-blog section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                      <h2 class="h2">Latest From our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for blog in latest_blogs %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="wrap-blog">
                    <a href="blog-left-sidebar.html" class="article__grid-image">
                          <img src="{{blog.image.url}}" alt="{{blog.title}}" title="{{blog.title}}" class="blur-up lazyloaded"/>
                    </a>
                    <div class="article__grid-meta article__grid-meta--has-image">
                        <div class="wrap-blog-inner">
                            <h2 class="h3 article__title">
                              <a href="blog-left-sidebar.html">{{blog.title}}</a>
                            </h2>
                            <span class="article__date">{{blog.updated_at}}</span>
                            <ul class="list--inline article__meta-buttons">
                                <li><a href="{{blog.get_url}}">Read more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--End Latest Blog-->
