{% load static %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section-title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Deals Of The Day</h2>
                    <div class="pull-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>
            <!-- /section-title -->

            <!-- Product Slick -->
            <div class="col-md-12 col-sm-6 col-xs-6">
                <div class="row">
                    <div id="product-slick-1" class="product-slick">
                        <!-- Product Single -->
                        {% for product in products_topSelling %}
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    {% if product.label %}
                                    <span>{{product.get_label_display}}</span>
                                    {% endif %}
                                    {% if product.discount_percentage %}
                                    <span class="sale">-{{product.discount_percentage}}%</span>
                                    {% endif %}
                                </div>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{product.image_product.url}}" alt="">
                            </div>
                            <div class="product-body">
                                {% if product.discount_price %}
                                <h3 class="product-price">${{product.discount_price}} <del class="product-old-price">${{product.price}}</del></h3>
                                {% else %}
                                <h3 class="product-price text-center">${{product.price}}</h3>
                                {% endif %}
                                <div class="product-rating">
                                    {% if single_product.average_rating == 1 %}
                                        <i class="fa fa-star"></i>
                                        {% elif product.average_rating == 2 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif product.average_rating == 3 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif product.average_rating == 4 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% elif product.average_rating == 5 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                </div>
                                <h2 class="product-name"><a href="{{ product.get_url }}">{{ product.name| truncatewords:"10" }}</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- /Product Single -->
                    </div>
                </div>
            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->